/*Global*/

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;900&display=swap');

:root{
    --primary: #4D96A9;
    --secondary: #855FB1;
    --blueaccent: #8FE3F9;
    --purpleaccent: #D9B8FF;
    --headertext: #28283D;
    --text: #87879D;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    max-width: 100vw;
    overflow-x: hidden;
}

h1, h2{
    color: var(--headertext);
    font-size: 64px;
}

h2{
    font-size: 40px;

}

h3{
    color: var(--primary);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 4px;
}

p{
    color: var(--text);
    font-size: 18px;
}

img{
    height: 100%;
    max-height: 358px;
}

.button{
    padding: 16px;
    border-radius: 50px;
    color: white;
    text-decoration: none;
    height: 100%;
}


.blueaccent{
    color: var(--blueaccent);
}

.purpleaccent{
    color: var(--purpleaccent);
}

.main:hover{
    background-color: #71C0D4;
}

.alt:hover{
    background-color: #B18BDD;
}

.white{
    color: white;
}

.main{
    background-color: var(--primary);
}

.alt{
    background-color: var(--secondary);
}

.verticalline{
    border-left: 1px solid var(--text);
    height: 84px;
    margin: 0 auto;
    width: 0px;
}
.circle{
    width: 55px;
    height: 55px;
    border: 1px solid var(--text);
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 64px;
    display: grid;
    place-content: center;
    background-color: white;
}
.circle p{
    font-weight: 800;
}

.section2{
    margin-top: 110px;
}

.section3{   
    padding: 10%;
    padding-bottom: 0;
}

.section4{
    background-color: var(--primary);
    padding: 10%;
    text-align: left;
}

/*--------*/

/*Logo*/
.logo{
    display: flex;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 60px;
}

/*--------*/

/*Hero*/

.hero{
    display: flex;
}

.hero .button{
    margin-right: 16px;
}

.left{
    position: relative;
    left: -20px;

}

.right{
    position: relative;
    right: -30px;
    
}

.middle{
    margin: 0 auto;
    width: 540px;
}

.herosub{
    max-width: 540px;
    margin-bottom: 32px;
}

/*cards*/

.imagecontainer{
    margin: 0 auto;
    max-width: 1100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}
.image{
    width: auto;
    height: 250px;
    background-color: var(--primary);
    border-radius: 8px;
    
}

.sub{
    margin: 0 auto;
    margin-top: 32px;
    max-width: 540px;
}

.countercont{
    position: relative;
    bottom: -92px;
}


.s4cont{
    max-width: 1100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.s4cont p{
    max-width: 573px;
    margin: 0 auto;
    margin-top: -34px;
}


/*Tablet*/

@media screen and (max-width: 1202px) {
    .hero{
        flex-wrap: wrap;
    }
    img{
        height: 100%;
        max-width: 100%;
    }
    .left{
        order: 1;
        width: 50vw;
    }
    .right{
        order: 2;
        width: 50vw;
    }
    .middle{
        order: 3;
    }
    .s4cont{
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    .s4cont p{
        margin-top: 24px;
    }
    .s4cont div{
        margin-top: 40px;
    }
    .imagecontainer{
        grid-template-columns: repeat(2, 1fr);
        margin: 40px;
    }
    .image{
        height: 0px;
        padding-top: 100%;
    }
}